
  .img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
}
.container {
        margin-right: auto;
    margin-left: auto;
    padding: 15px;

  
 
  
  background: 
    /* top, transparent red */ 
    linear-gradient(
     rgba(255,255,255,0.2), 
      rgba(230, 240, 230, 0.2)
  
    ),
    /* bottom, image */
    url('../bimg/17.jpg');
     background-size:100%;
     padding-left:'';
     padding-right:'';
     
     
     	
}
ul
{
    background-image: url("../bimg/20.jpg");
  background-repeat: repeat-x; 
  
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 16px 40px;
    font-size:20px;
  font-family: "Comic Neue";
  font-weight: 100;
  src:  url("../fonts/ComicNeue-Bold-Oblique.woff"), url("../fonts/ComicNeue-Light.ttf");
  color: #ffc34d;
}
/*/*html { 
     background-image: url('bimg/17.jpg');
     background-repeat: repeat; */


 body {
     background-image: url("../bimg/19.jpg");
      background-repeat: repeat-x; 
      background-size:cover;
      
 }
h1{
     font-size:80px;
  font-family: "Comic Neue";
  font-weight: 100;
  src:  url("../fonts/ComicNeue-Bold-Oblique.woff"), url("../fonts/ComicNeue-Light.ttf");
  color: #ffc34d;
}
.thumbnail {
    display: block;
padding: 4px;
margin: 4px;
line-height: 1.42857143;
box-shadow: 0px 0px .5px .5px rgba(0, 0, 0, 0.75);
border: 1px solid #ddd;
border-radius: 4px;
transition: border .2s ease-in-out;
background-color:transparent;
}
nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,nav-tabs {
    color: rgb(255, 195, 77);
    cursor: default;
  background-image: url("../bimg/20.jpg");
  background-color:none;
  
}